
@font-face {
    font-family: 'ArcadeClassic';
    src: url('../../fonts/Kemco Pixel Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'Pixel';
    src: url('../../fonts/Pixl_Demo.ttf') format('truetype');
}

@font-face {
    font-family: 'Among Us';
    src: url('../../fonts/Impostograph-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Arcade';
    src: url('../../fonts/ka1.ttf') format('truetype');
}


.menu-item{
    text-decoration: none;
    font-style: 0.9em;
    color: rgb(226 232 240);;
    font-weight: 400;
    position: relative;
    cursor:pointer;
    font-family: 'Pixel', sans-serif;
    font-size: 14px;
    display: flex;
}

.menu-item:hover{
    font-family: 'Arcade', sans-serif;
    
}
.menu-item::before{
    content:"";
    width: 2rem;
    height: 0.2rem;
    background: linear-gradient(1deg, #4F58FD, #149BF3 99%);
    border-radius: 0.5rem;
    position: absolute;
    bottom: -0.6rem;
    opacity: 0;
    transform: translateX(-1.5rem);
    transition: all 0.3s ease;
}

.menu-item:hover::before{
    width: 100%;
    transform: translateX(0);
    opacity: 1;
    
}
.btn{
 
    font-family: 'Pixel', 'san-serif';
}

.btn:hover{


    color: white;
    background: linear-gradient(1deg, #4F58FD, #149BF3 99%);
    padding: 0.6rem 2rem;
    border:none;
    outline: 1.5px solid transparent;
    
}

.menu-btn{
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    border-radius: 0.4rem;
    color: #fff;
    background: linear-gradient(1deg, #4F58FD, #149BF3 99%);
    line-height: 0;
    cursor: pointer;
    transition: all 0.4 ease;
    display: none;
   
}

.menu-btn:hover{
    color: #149BF3;
    background: #000;
    border: 1px solid #149BF3;
}




.logo-txt{
    font-family: "ArcadeClassic", cursive;
} 



@media (max-width: 425px){
  
    .logo-txt{
        font-size: 18px;
    }
    .logo{
        height: 50px;
        width: 50px;
        margin-top: 0.45rem;
        
    }
    .menu-item:hover::before{
        width: 30%;
        opacity: 1;
    }  

    
}

@media(max-width: 769px){
    .menu-btn{
        display: block;
    }
    .content ul{
        display: none;
    }


 

}
@media (max-width: 1325px){
    .nav-wrapper{
        padding: 0 2rem;
    }
}












