
.popup{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 30px;
    right: 15px;
    width: 100px;
    height: 100px;
    background: linear-gradient(1deg, #4F58FD, #149BF3 99%);
    border-radius: 50%;
    color: black;
    animation: pulse 3s infinite;
    cursor: pointer;
  
    
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(20, 155, 243, 0.7); 
    }
    50% {
        box-shadow: 0 0 0 1.25rem rgba(79, 88, 253, 0); 
    }
    100% {
        box-shadow: 0 0 0 0 rgba(20, 155, 243, 0); 
    }
}




.chat{
    background:white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 400px;
    height: 450px;
    position: fixed;
    right: 15px;
    bottom: 135px;
    border-top: 70px solid #149BF3;
    display:none;
    border-radius: 30px;
    cursor:default;
}


  
  .chat.visible {
    display: flex; 
  align-items: flex-start;
  justify-content: flex-start; 
  }



  .bot-name{
  
    color: white;
    font-size: 20px;
    text-shadow:
    -0.5px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    display: flex;
    font-family: "Inter", sans-serif;
    font-weight:bold;
   
    
  }

  .bot-col{
   margin-left: -7.5px;
   padding-top: 1px;
    
  }
  
  .bot-desc{
   font-weight:bold;
    font-family: "Inter", sans-serif;
    color:	#F0F0F0;
   text-shadow:
   -0.5px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
   1px 1px 0 #000;
  width: 300px;
  font-size: 14px;
  
 

  }

  .bot-close{
    color:white;
    font-size: 32px;
    margin-left: -10px;
    margin-top: -5px;
    text-shadow:
    -0.5px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }

  .bot-close:hover{
    color:#FF474C;
  }

  .chat-header{
    display: flex;
    margin-top: -60px;
  }
  .chat-history{
    max-height: 335px;
    overflow:auto;
  }

  /* .chat-logo::after{

    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: greenyellow;
   display: flex;
   border-radius: 50%;
   justify-content: flex-end;
   align-items: flex-end;
   
  } */
/* 
.popup::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent transparent;
    position: absolute;
    bottom: -15px;
    right: -15px;
    background: linear-gradient(1deg, #4F58FD, #149BF3 99%);
    clip-path: polygon(0 0, 100% 50%, 0 100%);
} */



.chatbot {
    display: flex;
    position: absolute;
   
  }
  
  .chatbot.visible {
    display: flex;
  
  }

  .chat-input{
    display: flex;
    position: absolute;
    padding-top: 21.32rem;

    z-index: -5;
  }
  .prompt{

    width: 370px;
    height: 40px;
    outline:none;
    text-indent: 5px;
    border-top: 1px solid lightgrey;
  }
  @media (max-width: 425px) {
    .prompt {
      width: 280px;
    }

    .chat{
      bottom: 110px;
      right: 15px;
    }

    
 
  }
  
  .btn-send{
    font-size: 28px;
    border:none;
    background: #149BF3;
    color:white;
    height: 40px;
    width: 50px;
    position: relative; 
    right: 20px;
  
  }

  .btn-send:hover{
    background: #66bff2; /* Lighter shade of blue for hover */
 
  color: #f0fcff; /* Lighter text color on hover */
  }

  .chat-entry{
    padding-left: 5px;
  }

  /* .question::selection, .answer::selection{
    background:  #4F58FD;
  } */

.crl{
  color:#F0F0F0;
  background: #149BF3;

}

