@import url('../../../App.css');

@font-face {
    font-family: 'Nokia';
    src: url('../../fonts/nokiafc22.ttf') format('truetype');
  }

.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin: 0 auto;
    max-width: 1300px;
    padding-top: 50px;
    color:rgb(226 232 240);

}

.hero-txt{
    font-family: "Pixel", cursive;
    font-size: 36px;
    font-style: normal;
    max-width: 700px;
    z-index: 10;
    color:rgb(226 232 240);
    padding-top: 80px;
}

@keyframes slideLeft {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


.hero-logo{
    border-radius: 50%;
    position: relative;
    top: -20px;
    
}
.desc{
    padding-top: 15px;
    max-width: 700px;
    font-family: "Inter", sans-serif;
    color:rgb(148,163,184);
    line-height: 1.5;
    font-weight: 400;
    font-size: 19px;

    
}

.hero-name{
    color: white;
    font-family: 'Nokia', cursive;
    font-size: 42px;
    background: linear-gradient(90deg, #4F58FD, #149BF3 50%, #4F58FD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbowText 10s linear infinite;
    background-size: 400%;

}


.hero-name::selection{
  background:	#1C1678;
  -webkit-text-fill-color: #4F58FD;
}
.txt{
    font-family: "Pixel", cursive;
    font-size: 32px;
    
}

.txt-section{
       animation: slideLeft 2s ease forwards;
}

@keyframes rainbowText{
    0%{
        background-position: 400%;
    }
    100%{
        background-position: 0%;
    }
}

.roles{
    color: #bc13fe;
    font-family: 'Nokia', cursive;
}
.roles::selection{
  color: #bc13fe;
}
.resume{
    display:flex;
    background: linear-gradient(1deg, #4F58FD, #149BF3 99%);
    border-radius: 30px;
    color: white;
    font-size: 16px;
    margin-top: 30px;
    height: 50px;
    font-weight: 600;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    max-width: 180px;
    user-select: none;
  
}

.typed-cursor {
    color: #bc13fe;
  }

  .hero-img{
    animation: slideRight 1.5s ease forwards;
  }

  @keyframes slideRight {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }






.hero-img{
    user-select: none;
}
.bento-container {
  position: relative;
  top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Responsive grid layout */
  gap: 16px; /* Space between bento boxes */
  padding: 20px;
  border-radius: 10px;
}

.bento-box {
 
  border-radius: 8px; /* Rounded corners */
  text-align: left; /* Center the text */
  color: white; /* White text for contrast */
}


.stat-number {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 8px;
  color:white;
  width: auto;
  background: linear-gradient(90deg, #4F58FD, #149BF3 50%, #4F58FD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbowText 10s linear infinite;
  background-size: 400%;
  max-width: 150px;
  text-align: center;
  



  font-family: 'Nokia', cursive;
}

.stat-number::selection{
-webkit-text-fill-color: #4F58FD;
}

.stat-description {
  font-size: 16px;
  color: #ccc; /* Light gray text for the description */
 font-weight: 600;
 font-family: "Inter", sans-serif;
}

